In [41]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-price/1553768847-housing.csv

In [42]:
df = pd.read_csv("/kaggle/input/house-price/1553768847-housing.csv")
is_missing_attr = df.isna()
n_missing_attr = is_missing_attr.sum(axis=1)
df[n_missing_attr > 0]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
290,-122.16,37.77,47,1256,NaN,570,218,4.3750,NEAR BAY,161900
341,-122.17,37.75,38,992,NaN,732,259,1.6196,NEAR BAY,85100
538,-122.28,37.78,29,5154,NaN,3741,1273,2.5762,NEAR BAY,173400
563,-122.24,37.75,45,891,NaN,384,146,4.9489,NEAR BAY,247100
696,-122.10,37.69,41,746,NaN,387,161,3.9063,NEAR BAY,178400
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18,3620,NaN,3171,779,3.3409,NEAR OCEAN,220500
20268,-119.18,34.19,19,2393,NaN,1938,762,1.6953,NEAR OCEAN,167400
20372,-118.88,34.17,15,4260,NaN,1701,669,5.1033,<1H OCEAN,410700
20460,-118.75,34.29,17,5512,NaN,2734,814,6.6073,<1H OCEAN,258100
20484,-118.72,34.28,17,3051,NaN,1705,495,5.7376,<1H OCEAN,218600

In [43]:
df.dropna(inplace=True)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400

# shuffling DS

In [44]:
shuffled = df.sample(frac=1, random_state=1).reset_index(drop=True)
shuffled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-118.18,34.14,38,3039,487.0,1131,465,7.7116,<1H OCEAN,360900
1,-118.19,34.14,38,1826,300.0,793,297,5.2962,<1H OCEAN,291500
2,-117.25,33.20,10,2050,473.0,1302,471,2.7961,<1H OCEAN,131300
3,-119.23,34.19,16,5297,810.0,1489,667,6.4522,NEAR OCEAN,500001
4,-120.93,39.96,15,1666,351.0,816,316,2.9559,INLAND,118800
...,...,...,...,...,...,...,...,...,...,...
20428,-117.88,33.79,32,1484,295.0,928,295,5.1418,<1H OCEAN,190300
20429,-120.43,34.70,26,2353,389.0,1420,389,3.8700,NEAR OCEAN,125800
20430,-118.45,34.08,52,1500,176.0,384,145,7.1576,<1H OCEAN,500001
20431,-116.97,33.94,29,3197,632.0,1722,603,3.0432,INLAND,91200
20432,-122.20,37.79,35,1802,459.0,1009,390,2.3036,NEAR BAY,126000

# splitting

In [45]:

from sklearn.model_selection import train_test_split

trainval, test = train_test_split(shuffled, test_size=0.16, shuffle=False)
train, val = train_test_split(trainval, test_size=0.2, shuffle=False)


df_target_train = train['median_house_value']
train.drop("median_house_value",axis=1,inplace=True)

df_target_test = test['median_house_value']
test.drop("median_house_value",axis=1,inplace=True)

df_target_val = val['median_house_value']
val.drop("median_house_value",axis=1,inplace=True)

In [46]:
len(test),len(train),len(val)

(3270, 13730, 3433)

# Normaling dataset
splitting data in categorical, ordinal and continuous

In [47]:
display(train)
contin_attr = ["housing_median_age","total_rooms","total_bedrooms","population","households","median_income"]
cate_attr = ["ocean_proximity"]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-118.18,34.14,38,3039,487.0,1131,465,7.7116,<1H OCEAN
1,-118.19,34.14,38,1826,300.0,793,297,5.2962,<1H OCEAN
2,-117.25,33.20,10,2050,473.0,1302,471,2.7961,<1H OCEAN
3,-119.23,34.19,16,5297,810.0,1489,667,6.4522,NEAR OCEAN
4,-120.93,39.96,15,1666,351.0,816,316,2.9559,INLAND
...,...,...,...,...,...,...,...,...,...
13725,-117.15,34.07,15,1852,316.0,906,298,5.3526,INLAND
13726,-117.42,33.35,14,25135,4819.0,35682,4769,2.5729,<1H OCEAN
13727,-118.02,33.79,23,6368,1030.0,3281,1001,6.1142,<1H OCEAN
13728,-122.03,37.83,24,5948,738.0,1997,710,9.8708,NEAR BAY
13729,-120.06,36.95,24,646,134.0,454,149,2.1250,INLAND

# Normalizing continious values

In [48]:
import torch
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [49]:
dataset = {"train":None, "test":None, "val":None}

scaler = StandardScaler()
encoder = OneHotEncoder(sparse=False)

# Fit the scaler on the training data
scaler.fit(train[contin_attr])

encoder = OneHotEncoder(sparse=False)


def normalizing(df): 
    return scaler.transform(df)

def encoding(df):
    return encoder.fit_transform(df)

In [50]:
train_cont = pd.DataFrame(normalizing(train[contin_attr])) 
train_cat = pd.DataFrame(encoding(train[cate_attr]))
dataset["train"] = pd.concat([train_cont,train_cat],axis=1)

test_cont = pd.DataFrame(normalizing(test[contin_attr])) 
test_cat = pd.DataFrame(encoding(test[cate_attr]))
dataset["test"] = pd.concat([test_cont,test_cat],axis=1)

val_cont = pd.DataFrame(normalizing(val[contin_attr])) 
val_cat = pd.DataFrame(encoding(val[cate_attr]))
dataset["val"] = pd.concat([val_cont,val_cat],axis=1)

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [51]:
len(dataset["train"]),len(dataset["test"]),len(dataset["val"])

(13730, 3270, 3433)

# dataset

In [52]:
import torch
from torch.utils.data import TensorDataset, DataLoader
import numpy as np

In [53]:
# Convert numpy arrays to PyTorch tensors
features_tensor = torch.tensor(dataset["train"].to_numpy(),dtype=torch.float32)
target_tensor = torch.tensor(df_target_train.to_numpy())

In [54]:
tensor_dataset = TensorDataset(features_tensor, target_tensor)
dataloader = DataLoader(tensor_dataset, batch_size=16, shuffle=True)

In [55]:
# Step 4: Iterate through the DataLoader
for batch_features, batch_targets in dataloader:
    print("Batch features:", batch_features)
    print("Batch targets:", batch_targets)
    break  # Just to show the first batch

Batch features: tensor([[ 0.1091,  1.2406,  1.2377,  1.1706,  1.1621, -0.4061,  0.0000,  1.0000,
          0.0000,  0.0000,  0.0000],
        [-1.2391,  0.3242,  0.1175,  0.0255,  0.2636, -0.0281,  0.0000,  1.0000,
          0.0000,  0.0000,  0.0000],
        [-0.8425,  0.5535,  0.5225,  0.1860,  0.4287, -0.9405,  0.0000,  1.0000,
          0.0000,  0.0000,  0.0000],
        [ 1.3780, -0.5831, -0.7706, -0.7787, -0.7291,  0.2250,  0.0000,  0.0000,
          0.0000,  0.0000,  1.0000],
        [ 0.8229, -0.3342, -0.4272, -0.4872, -0.4069,  0.4266,  1.0000,  0.0000,
          0.0000,  0.0000,  0.0000],
        [ 1.8539, -0.6927, -0.7777, -0.7587, -0.8208, -0.2532,  0.0000,  0.0000,
          0.0000,  1.0000,  0.0000],
        [-0.7632, -0.0830, -0.0435, -0.5653, -0.1397,  3.1830,  1.0000,  0.0000,
          0.0000,  0.0000,  0.0000],
        [ 0.5850, -0.6145, -0.5385, -0.2608, -0.4331, -0.8974,  0.0000,  0.0000,
          0.0000,  0.0000,  1.0000],
        [ 1.8539, -1.1564, -1.2087, -1.1925, -1.2268, -0.9841,  1.0000,  0.0000,
          0.0000,  0.0000,  0.0000],
        [-1.3184,  1.3156,  2.1186,  1.4604,  1.9951, -0.6682,  1.0000,  0.0000,
          0.0000,  0.0000,  0.0000],
        [-0.5253, -0.5972, -0.5551, -0.7361, -0.8051,  0.0495,  0.0000,  0.0000,
          0.0000,  0.0000,  1.0000],
        [-0.7632, -0.0780,  0.1862,  0.6198,  0.2872, -0.8543,  0.0000,  1.0000,
          0.0000,  0.0000,  0.0000],
        [ 1.6953, -0.3151, -0.1927, -0.0578, -0.1214, -0.4576,  1.0000,  0.0000,
          0.0000,  0.0000,  0.0000],
        [ 1.8539, -0.7673, -0.8322, -0.8897, -0.8601, -0.3357,  0.0000,  0.0000,
          0.0000,  1.0000,  0.0000],
        [ 1.3780, -0.2141, -0.0696, -0.0742, -0.0638, -0.9646,  1.0000,  0.0000,
          0.0000,  0.0000,  0.0000],
        [ 0.5850, -0.1276, -0.3230, -0.1636, -0.2864,  0.1098,  1.0000,  0.0000,
          0.0000,  0.0000,  0.0000]])
Batch targets: tensor([ 66800,  94200,  92600, 290500, 334700,  75700, 500001, 253900, 191700,
        108300, 500001, 108800, 163200, 245500, 135500, 190800])